---

interface Props {
	    color?: string;
    }

    var { color } = Astro.props;
    if(!color) {
        color="white"
    }

    var style = `border-color: ${color}; color: ${color};`;


---

<div class="icon w-fit h-8 m-1 px-3 border-2 rounded-lg flex items-center justify-center font-sans bg-neutral-90 pointer-events-none"  style={style}>
    <slot/>
</div>